*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  


body{
 /* overflow-y: hidden; */

}

.nav-container{
  display: flex;
  padding: 20px;
  gap: 40rem;
  background-color: whitesmoke;
}




.navbar-li{
  display: flex;
  gap: 3rem;
  padding: 20px;
  background-color: transparent;
  border-radius: 20px;
  list-style-type: none;
  font-size: large;
}


.logo{

  width: 80px;
  border-radius: 1000vmax;
  
  }



  .container-image{
    position: relative;
    width: 100vw;
    
    
    }

    .nav-txt{

      position: absolute;
      top: 400px;
      color: black;
      left: 250px;
      
      
      }


    .slick-header{
     

      margin-top: 100px;
      font-weight: bold;
      font-weight: bold;


    }




     .slick-img{
      height: 20vh;
      width: 10vw;
      object-fit: cover;
      margin: 50px;
      overflow: scroll;
      

     }
    



     .grow{
           display: flex;
           gap: 15rem;
           justify-content: space-between;
           margin-top: 100px;
          

     }
      

     .grow-text{
       margin-top: 50px;
       max-width: 300px;
       margin-left: 100px;
       


     }


   .grow-text h5{

      font-weight: bold;
      font-size: large;
     


   }


     .grow-img{

     width: 40vw;
     margin-right: 100px;
     border-radius: 30px;
    



     }
    


     .logistics{
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      margin-bottom: 100px;
     

}
 


    .logistics-img{

     width: 40vw;
     margin-left: 100px;
     border-radius: 30px;
 



  }
 

      .logistics-text{

       max-width: 700px;
       margin-right: 300px; 
       margin-top: 100px;


    }

      

    .logistics-text h5{

      font-weight: bold;

   }




   .faq-section{

    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  
   }



   .faq-items{
    border-radius: 10px;
    box-shadow: 0 4px 0px black;
  border-bottom: 1px dashed #ddd;
   padding: 10px 0;
   margin: 20px 0;

   }



   .faq-text h1{
     
    padding-top: 10px;

   }
   .faq-text p{
     
    padding-top: 10px;
    font-size: large;
    font-weight: bold;

   }


   .faq-questions{
  background: none;
  border: none;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  


   }



  .faq-question focus{

outline: none


  }


  .icon{

font-size: 1.5rem;


  }


  .faq-answers{

padding: 10px;
font-size: 1rem;
color: black;
text-align: center;

}



.faq-question.active .icon{

content: '-';



}

.home-form{

margin-top: -100;


}


.home-form h1{

  margin: 20px;
}


input, textarea {
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
  
}

.footer-main{
background: black;
color: white;
height: 30vh;


}


.footer-text{


  padding-top: 60px;
}





